salemme_09_20_Relax_NG_02/salemme_09_20_Relax_NG_02.rnc

start = root
root = element root {title, topicTitle, section+}
    title = element title {text}
    topicTitle = element topicTitle {text}
    section = element section {num, (nl | \list)*}
        num = attribute num {xsd:int}
        nl = element nl {text}
        \list = element list {item+}
            item = element item {num, text}